<section class="back">
    <section class="dark">
        <section class="container">
            <section> 
                <h1>Riddle of the day</h1>
                <p>
                    A wise man once said,"The more you take the less you have" 
                </p>
            </section>
            <section>
                <%= link_to "Go To Subjects", Subject , class: "button aqua medium" %>
                <input type="submit" value="Create Account" class=" button tomat medium">
            </section>
        </section>
    </section>
</section>