<div id="<%= dom_id subject %>">
  <p>
    <strong>Subject name:</strong>
    <%= subject.subject_name %>
  </p>

  <p>
    <strong>Subject description:</strong>
    <%= subject.subject_description %>
  </p>

</div>
