
<section class="perso-grid grid-row-1 grid-columns-2 grid-fill">
  <div>

  </div>
  <div>
    <h1>New subject</h1>

    <%= render "form", subject: @subject %>
    <br>

    <div>
      <%= link_to "Back to subjects", subjects_path %>
    </div>
  </div>
</section>
